
.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 0px;
}
ul {
    list-style: none;
}
.box {
    height: 100%;
    border: 1px solid #DADADA;
    background-color: #fff;
    box-shadow: 1px 1px 10px #DADADA;
    border-radius: 3px;
}
.box-header {
    /*background-color: #eee;*/
    padding: 0 30px 0 10px;
    /*border-bottom: 1px solid #dadada;*/
    cursor: move;
    position: relative;
}
.box-header h3 {
    margin-top: 10px;
    display: inline-block;
}
.box-content {
    height: calc(100% - 24px);
    padding: 15px;
}
.box-header-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}
a {
    color: #ccc;
}

.on {
    background-color: lightgreen;
}


form {
    margin-bottom: 0;
}
.gridster {
    /*border: 1px solid #ccc;*/
}
iframe {
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: block;
    position: relative;
    height: inherit;
    width: 100%;
}

.navbar-right {
  margin-right: 0;
}
