#chart {
    padding: 50px; /*20% 50px;*/
    height: 700px;
}

.rect {
    stroke-width: 1px;
    stroke: transparent;
}

.rect.sell {
    fill: #fb6d60;
}

.rect.buy {
    fill: #5fcb2a;
}

.rect.no-change {
    fill: #f5f5f5;
}

.rect.peer {
    stroke: #A1740A;
}

.rect.me {
    stroke: #0C63AF;
}

.y.axis line,
.y.axis path {
  fill: none;
  stroke: #EEF1F3;
}

text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: bold;
    fill: #B3B3B3;
}

.y.axis text {
    font-size: 12px;
    fill: #B3B3B3;
}

.domain {
    display: none;
}

#chartClip {
    fill: transparent;
}

.bar-icon {
    font-family: 'FontAwesome';
}

.label-container .bar-text {
    fill: black;
    font-size: 12px;
}

.bar-text.sell {
    fill: #c21f12;
}

.bar-text.sell .bar-icon {
    fill: #ff3a2a;
}
.bar-text.buy {
    fill: #005717;
}
.bar-text.buy .bar-icon {
    fill: #00a42b;
}

.pivot-labels {
    pointer-events: none;
}

.multiselect-container {
    max-height: 300px;
    overflow-y: scroll;
}

/*------*/

.panel-group,
.panel,
.panel-default {
    border: none;
}

.db-dropdown-menu {
    width: 200px;
    padding: 0;
    /*position: fixed;*/
}

.db-dropdown-menu .panel-heading {
    position: relative;
    padding: 10px 15px;
    color: #d4ffff;
    border-radius: 0;
    background: #0070b6;
    border: none;
}

.db-dropdown-menu .panel-heading a {
    display: block;
    text-decoration: none;
    color: #d4ffff;
}

.panel-collapse div > a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
}

.panel-collapse div > a:hover {
    background: #efefef;
}

.panel-group .panel + .panel {
    margin-top: 1px;
}
.sub-panel-title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 12px 15px;
    text-decoration: none;
    border-top: 1px solid #ddd;
}

.sub-panel-title a {
    font-size: 12px;
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: #555;
}

.panel-collapse + div > a {
    padding: 10px 15px;
}

.selectize-input {
    max-width: 165px;
}

#grouping {
    margin-top: -10px;
    padding-left: 15px;
}

#grouping input[type='radio'] {
    display: none;
}

#grouping input[type=radio] + span {
    display: inline-block;
}


#grouping input[type=radio] + span:before {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    margin-top: 4px;
    margin-left: -22px;
    content: '';
    border: 1px solid #ddd;
    border-radius: 50%;
    box-shadow: inset 0 0 2px 1px #ddd;
}

#grouping input[type=radio]:checked + span:before {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-top: 4px;
    margin-left: -22px;
    content: '';
    border: 1px solid #118df7;
    border-radius: 50%;
    box-shadow: inset 0 0 3px 4px #118df7;
}

#industry {
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 15px;
}

.panel-group .panel-heading a:after {
    font: normal normal normal 14px/1.5 FontAwesome;
    float: right;
    content: '\f0d7';
    color: #d4ffff;
}

.panel-group .panel-heading a.collapsed:after {
    content: '\f0da';
}

.sub-panel-heading a:after {
    font: normal normal normal 14px/2 FontAwesome;
    float: right;
    content: '\f0d7';
    color: #666;
}

.sub-panel-heading a.collapsed:after {
    content: '\f0da';
}
