tr.drop-target td {
  border-bottom: 1px dashed lightgray;
  border-top: 1px dashed lightgray;
}
tr.drop-target.drop td {
  background-color: lightgray;
}
.drop-target {
  border: 1px dashed lightgray;
}
.drop-target.drop {
  background-color: lightgray;
}
/**
 * gridster.js - v0.2.1 - 2013-10-28 * http://gridster.net
 * Copyright (c) 2013 ducksboard; Licensed MIT
 */
.gridster {
  position: relative;
  margin: auto;
  height: 0;
}
.gridster-content > ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.gridster-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  z-index: 2;
  position: absolute;
  display: none;
}
.gridster-loaded {
  -webkit-transition: height .3s;
  -moz-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
}
.gridster-loaded .gridster-item {
  display: block;
  position: absolute;
  -webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
  -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
  -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
  transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}
.gridster-mobile {
  height: auto !important;
}
.gridster-mobile .gridster-item {
  height: auto;
  position: static;
  float: none;
}
.gridster-preview-holder {
  display: none;
  z-index: 1;
  position: absolute;
  background-color: #ddd;
  border-color: #fff;
  opacity: 0.2;
}
.gridster-item.gridster-item-moving,
.gridster-item.gridster-preview-holder {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.gridster-item.ng-leave.ng-leave-active {
  opacity: 0;
}
.gridster-item.ng-enter {
  opacity: 1;
}
.gridster-item-moving {
  z-index: 3;
}
/* RESIZE */
.gridster-item-resizable-handler {
  position: absolute;
  font-size: 1px;
  display: block;
}
.handle-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.handle-ne {
  cursor: ne-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  top: 1px;
}
.handle-nw {
  cursor: nw-resize;
  width: 12px;
  height: 12px;
  left: 1px;
  top: 1px;
}
.handle-sw {
  cursor: sw-resize;
  width: 12px;
  height: 12px;
  left: 1px;
  bottom: 1px;
}
.handle-e {
  cursor: e-resize;
  width: 12px;
  height: 100%;
  right: 1px;
  top: 0;
}
.handle-s {
  cursor: s-resize;
  height: 12px;
  width: 100%;
  bottom: 1px;
  left: 0;
}
.handle-n {
  cursor: n-resize;
  height: 12px;
  width: 100%;
  top: 1px;
  left: 0;
}
.handle-w {
  cursor: w-resize;
  width: 12px;
  left: 1px;
  top: 0;
  height: 100%;
}
.suggester,
.suggester-ddl {
  margin: 0;
  padding: 0;
  border: none;
  top: 0;
}
.suggester {
  position: relative;
}
.suggester .focused {
  border-color: #66AFE9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
.suggester[disabled] ul {
  background: #ebebe4;
}
.suggester ul {
  /*position: relative;*/
  display: block;
  width: 100%;
  font-size: 14px;
  color: #4d4d4d;
  background-color: #fff;
  background-image: none;
  border: 1px solid #CED8DE;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  padding: 0;
  margin: 0;
  list-style-type: none;
  cursor: text;
  text-align: left;
  font-weight: normal;
}
.suggester ul li {
  border: solid 1px transparent;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
}
.suggester ul li a {
  margin: 0 2px 0 0;
  padding: 0;
}
.suggester ul li.item {
  padding: 2px 4px 3px 4px;
}
.suggester ul li.item a {
  text-decoration: none;
}
.suggester ul li.textbox,
.suggester ul li.item,
.suggester ul li.watermark {
  padding-top: 4px;
  margin: 2px;
  height: 30px;
  box-sizing: border-box;
}
.suggester ul li:nth-child(1).textbox {
  padding-left: 13px;
}
.suggester ul li.watermark {
  padding-left: 13px;
}
.suggester ul li.watermark a {
  color: gray;
  text-decoration: none;
  cursor: text;
}
.suggester ul .textbox input,
.suggester ul .textbox textarea {
  min-height: 0;
  border: solid 0px black;
  outline: none;
  padding: 0;
  margin: 0;
  resize: none;
  overflow: hidden;
  /*line-height: 1; */
}
.suggester ul .item {
  margin-right: 2px;
}
.suggester ul .item .glyphicon {
  color: #ffffff;
  font-size: x-small;
  cursor: pointer;
}
.suggester ul .text-measure {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
}
.suggester ul .group .popup-content .popup-item {
  color: black;
  clear: both;
  padding: 2px;
}
.suggester ul .group .popup-content .popup-item .glyphicon {
  float: right;
  color: darkred;
}
.suggester ul .clear,
.suggester-ddl-filter .control-panel .clear {
  border: none;
  display: block;
  float: none;
  clear: both;
  font-size: 0;
  margin: 0;
  padding: 0;
}
.suggester ul .item {
  border: solid 1px #7B9EBD;
  background: #76B7DD;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.suggester ul .item a {
  color: white;
  font-weight: normal;
}
.suggester ul .item.active {
  border: solid 1px #7B9EBD;
  background-color: #E4933A !important;
}
.suggester ul .item.unresolved {
  border: solid 1px #737373;
  /* 7B9EBD */
  background-color: #B5B5B5;
}
/****************************************************************************
Dropdown area
*****************************************************************************/
.suggester-ddl {
  position: absolute;
  z-index: 12000;
  padding: 2px;
  border: solid 1px #66AFE9;
  text-align: left;
  background-color: #ffffff;
}
.suggester-ddl.expand-below {
  border-top: none;
}
.suggester-ddl.expand-above {
  border-bottom: none;
}
.suggester-ddl .items {
  overflow: auto;
  overflow-x: hidden;
  clear: both;
}
.suggester-ddl .item {
  border: solid 1px white;
  color: black;
  text-decoration: none;
  /*background-color: white;*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
}
.suggester-ddl .item.active,
.suggester-ddl .item:hover {
  border: solid 1px #C0C0C0;
}
.suggester-ddl .item.disabled {
  color: #999;
}
.suggester-ddl .item.parent {
  font-weight: bold;
  color: black;
}
.suggester-ddl .item.child {
  padding-left: 10px;
}
body {
  padding-top: 0;
  /*padding-bottom: 42px;*/
}
/*body * {
  font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
}*/
/* Bootstrap relies on href attribute to set pointer cursor. Angular uses href="#" for navigation
This fix allow us to have pointer cursors without href attribute */
.pagination,
.panel-title a {
  cursor: pointer;
}

.as-input-text:focus {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
.as-input-text.ng-invalid {
  color: red;
}
.btn.as-btn-icon {
  margin-bottom: 10px;
}
.btn.as-btn {
  color: #fff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 14px;
}

body {
  padding-top: 0;
font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #4d4d4d;
  background-color: #f9f9f9;
}
a:focus {
  outline: medium none;
  outline-offset: -2px;
}
textarea {
  min-height: 121px;
}
label {
font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
p {
font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}
p.lead {
font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #777777;
}
ul,
ol {
  padding: inherit;
}
small {
font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 85%;
  color: #999999;
}
em {
font-family: 'Open Sans', sans-serif;
  font-weight: 600 !important;
  font-style: italic !important;
  font-color: #777777;
}
strong {
font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #777777;
}
dt {
  font-weight: 600;
  color: #0079bd;
}
dd {
  margin-left: 0px;
  color: #7895A5;
  font-style: italic;
}
address {
font-family: 'Open Sans', sans-serif;
}
h1 {
  color: #666666;
font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 500;
}
h2 {
  color: #666666;
font-family: 'Open Sans', sans-serif;
  font-size: 12px _ 13px;
  font-weight: 400;
}
h3,
.h3 {
  color: #666666;
font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
}
h4 {
  color: #666666;
font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
h5 {
  color: #666666;
font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
h6 {
  color: #666666;
font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 11px;
  margin-right: -11px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
  background-color: #edeef0;
  -webkit-box-shadow: none;
}
footer {
  border-top: 1px solid #d2d3d6;
  background: #edeef0;
  min-height: 30px;
  margin-left: 0px;
  /*margin-top: 30px;*/
  padding: 0 20px;
}
footer.navbar-fixed-bottom {
  padding-top: 10px;
  padding-bottom: 0px;
}
footer.navbar-fixed-bottom ul.legalLinks {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
footer.navbar-fixed-bottom ul.legalLinks li {
  display: inline;
  padding: 0px 5px;
}
footer.navbar-fixed-bottom .copyright,
footer.navbar-fixed-bottom .dropdown-toggle {
  white-space: nowrap;
}
.form-control-static {
  padding: 0px 10px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.default {
  background-color: #c4c4c4;
}
.primary {
  background-color: #0079bd;
}
.info {
  background-color: #79bde8;
}
.success {
  background-color: #51a821;
}
.warning {
  background-color: #f7bf1e;
}
.danger {
  background-color: #f7321e;
}
.text-muted {
  color: #c4c4c4 !important;
}
.text-primary {
  color: #0079bd !important;
}
.text-success {
  color: #51a821 !important;
  font-size: 120% !important;
}
.text-info {
  color: #79bde8 !important;
  font-size: 90% !important;
}
.text-warning {
  color: #f7bf1e !important;
  font-size: 110% !important;
}
.text-danger {
  color: #f7321e !important;
  font-size: 120% !important;
}
.open .dropdown-toggle.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #333333;
  background-color: #B6C5CE;
  /*border-color: #7895A5;*/
}
.btn-default {
  color: #333333;
  background-color: #ced8de;
  border-color: #7895A5;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #005a8f;
  border-color: #003452;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-primary {
  color: #ffffff;
  background-color: #0079bd;
  border-color: #006fae;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #389ddd;
  border-color: #1d74ab;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-info {
  color: #ffffff;
  background-color: #79bde8;
  border-color: #6cb7e6;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #326814;
  border-color: #132808;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-success {
  color: #ffffff;
  background-color: #51a821;
  border-color: #4b9b1e;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #c29107;
  border-color: #785a04;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-warning {
  color: #ffffff;
  background-color: #f7bf1e;
  border-color: #f6bb0f;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #c21807;
  border-color: #780f04;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-danger {
  color: #ffffff;
  background-color: #f7321e;
  border-color: #f6250f;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a.btn.btn-warning {
  color: #ffffff;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.label-default {
  background-color: #ced8de;
}
.label-primary {
  background-color: #79799e;
}
.label-info {
  background-color: #8790d1;
}

.label-target {
  background-color: #7BA8CE;
}

.label-success {
  background-color: #8fca32;
}
.label-warning {
  background-color: #efae46;
}
.label-danger {
  background-color: #f7321e;
}
.badge-info {
  background-color: #79bde8;
}
.badge-primary {
  background-color: #0079bd;
}
.badge-warning {
  background-color: #f7bf1e;
}
.badge-danger {
  background-color: #f7321e;
}
.badge-default {
  background-color: #ced8de;
}
.btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border-width: 0px;
font-family: 'Open Sans', sans-serif;
}
.btn-link,
a:link,
a:active,
a:visited {
  color: #0079bd;
  font-weight: normal;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.btn-link:hover,
.btn-link:focus {
  color: #0079bd;
  text-decoration: underline;
  background-color: transparent;
}
.alert-warning {
  background-color: #FDF3D8;
  border-color: #F7BF1E;
  color: #765A04;
  opacity: 0.8 !important;
  -webkit-opacity: 0.8 !important;
  -moz-opacity: 0.8 !important;
  -o-opacity: 0.8 !important;
}
.alert-success {
  background-color: #E6F8DD;
  border-color: #51A821;
  color: #21440D;
  opacity: 0.8;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -o-opacity: 0.8;
}
.alert-danger {
  background-color: #FBDDDA;
  border-color: #F7321E;
  color: #B11806;
  opacity: 0.8 !important;
  -webkit-opacity: 0.8 !important;
  -moz-opacity: 0.8 !important;
  -o-opacity: 0.8 !important;
}
.alert-info {
  background-color: #F78E1E;
  border-color: #F78E1E;
  color: #ffffff;
  opacity: 0.8 !important;
  -webkit-opacity: 0.8 !important;
  -moz-opacity: 0.8 !important;
  -o-opacity: 0.8 !important;
}
.modal-header {
  border-bottom: 1px solid #E5E5E5;
  min-height: 16.4286px;
  padding: 6px 9px;
  background: #FEFCFD;
  background: -moz-linear-gradient(top, #fefcfd 0%, #f2f2f2 67%, #f1f3f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefcfd), color-stop(67%, #f2f2f2), color-stop(100%, #f1f3f0));
  background: -webkit-linear-gradient(top, #fefcfd 0%, #f2f2f2 67%, #f1f3f0 100%);
  background: -o-linear-gradient(top, #fefcfd 0%, #f2f2f2 67%, #f1f3f0 100%);
  background: -ms-linear-gradient(top, #fefcfd 0%, #f2f2f2 67%, #f1f3f0 100%);
  background: linear-gradient(to bottom, #fefcfd 0%, #f2f2f2 67%, #f1f3f0 100%);
  border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -o-border-radius: 8px 8px 0px 0px;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-title {
font-family: 'Open Sans', sans-serif;
}
.modal-body {
  background-color: #F6F5F4;
  padding: 3px 10px;
}
.modal-footer {
  margin-top: 0px;
  padding: 13px 20px 20px;
  padding-bottom: 12px;
  text-align: right;
  border-top: 1px solid #E5E5E5;
}
.modal-footer button.btn {
font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.bd-slide-panel {
  background-color: #00456E;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.65);
  color: #ffffff;
  padding: 10px 15px;
  position: fixed;
  transition: all 0.3s ease 0s;
  border: none;
}
.bd-slide-panel {
  background: none repeat scroll 0 0 #003452;
}
.bd-slide-panel > .bsp-content {
  color: #CCCCCC;
  font-weight: 300;
}
.bd-slide-panel h3 {
  color: #ffffff;
}
.bd-slide-panel h3 {
  color: #0079bd !important;
}
.daterangepicker.dropdown-menu,
.dropdown-menu.daterangepicker {
  background-color: #f7f8fa;
  border: #666666;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
  background-image: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
.daterangepicker .ranges .input-mini {
  background-color: #ffffff;
}
.applyBtn,
.cancelBtn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #F78E1E;
  border-color: #D68227;
  color: #ffffff;
}
.daterangepicker.opensright:after {
  border-bottom: 6px solid #F7F8FA !important;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px;
}
div.popover.left.ng-isolate-scope {
  z-index: 1000 !important;
}
.phone-list {
  white-space: pre;
  padding-left: 10px;
}
.help-icon {
  color: #f78e1e;
  font-size: 160%;
}
.pointer-cursor {
  cursor: pointer !important;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-addon:first-child {
  background-color: ghostwhite;
  color: #BBB7B7;
  border-color: #CED8DE;
}
.form-control {
  display: block;
  width: 100%;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #4d4d4d;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #CED8DE;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.left-inner-addon {
  position: relative;
}
.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
  color: #B6C5CE;
  font-size: 17px;
  right: 0px;
}
.left-inner-addon input {
  padding-left: 30px;
  padding-right: 30px;
}
.form-horizontal-inline .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-info {
  padding: 10px 10px;
}
div.jumbotron {
  background-color: #ffffff;
  color: dimgray;
  border-bottom: 1px solid #CCCCCC;
}
div.jumbotron p:first-of-type {
  font-size: 200%;
  font-weight: bold;
}
.w100p .panel {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 20px;
}
/*.panel {
  margin: 0px 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.panel-primary .panel-heading {
  color: #003452;
  background-color: #B6C5CE;
  min-height: 20px;
  padding: 1px 7px !important;
}
.panel-heading {
  border-bottom: 1px solid #D2D3D6;
  border-top-left-radius: none;
  border-top-right-radius: none;
  clear: both;
  font-size: 18px;
  line-height: 1.99857143em;
  height: auto;
font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.panel-heading a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
font-family: 'Open Sans', sans-serif;
  font-size: 90%;
}
.panel-heading.gt-title {
  padding: 0px !important;
}
.panel-heading > h4 {
font-family: 'Open Sans', sans-serif;
  font-size: 85%;
  font-weight: 500;
}
.panel .panel-gray .panel-heading {
  background-color: #E7E7E7;
  font-size: 120%;
}
.panel[class*="panel-"] .panel-heading {
  border-bottom: medium none;
  padding: 0 10px;
}
.panel-heading.gt-title {
  padding: 20px;
  margin: 0px -20px 20px;
  background-color: #FFF;
}
.panel-heading.gt-title .pull-right {
  margin: 20px;
}*/
.goal-title {
  color: #41a7d5;
  font-weight: 600;
  margin: 0px;
  font-size: 30px;
font-family: 'Open Sans', sans-serif;
}
.header-detail-container {
  padding-left: 20px;
  padding-right: 20px;
}
.header-detail-container .header-detail {
  font-size: 14px;
  color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header-detail-container .header-detail-small {
  float: right;
  color: #d1d1d3;
}
/*.panel-body {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.panel-body ul li:before {
  display: none !important;
}
.scorecard div.panel[class*="panel-"] .panel-body {
  border: 1px solid #E7E7E7;
  padding: 0px;
  padding-bottom: 12px;
}
div.panel[class*="panel-"] .panel-body {
  border: 1px solid #E7E7E7;
}
.panel-gray .panel-body,
.panel-primary .panel-body {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.panel-primary {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border-color: transparent;
}
.panel-default {
  border-color: #B6C5CE;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}*/
span.k-icon.k-loading {
  left: 405px;
  margin-top: 1px;
  top: 5px;
}
.popover {
  background-clip: padding-box;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.52);
  display: none;
  left: 0;
  max-width: 276px;
  padding: 1px;
  position: absolute;
  text-align: left;
  top: 0;
  white-space: normal;
  z-index: 1010;
  position: fixed;
}
.popover-title {
  background-color: #ffffff;
  border-bottom: medium none;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  font-size: 16px;
  line-height: 17.99857143px;
  margin: 0;
  padding: 8px 14px;
  font-family: Myriad Pro, Calibri, Helvetica, sans-serif;
  font-weight: 500;
  color: dimgray;
}
.tour-step-background {
  opacity: 0.3;
}
.tour-backdrop {
  opacity: 0.4;
}
.popover-navigation {
  display: none;
}
.popover-content {
  color: gray;
}
.control-label-static {
  padding: 0px 10px 0px 0px;
}
.panel {
  border: none !important;
}
.panel .navbar {
  background-image: none;
}
.panel .navbar-nav > li.active > a {
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
/*.panel-default .panel-heading,
.panel-primary .panel-heading,
.panel-success .panel-heading,
.panel-info .panel-heading,
.panel-warning .panel-heading,
.panel-danger .panel-heading,
.panel-gray .panel-heading {
  background: #d1d4d9;
  background: -moz-linear-gradient(top, #d1d4d9 0%, #cfd8dd 2%, #cddae0 7%, #ced7de 11%, #d2d6e1 14%, #cfd8dd 16%, #cfd8dd 43%, #d4dbe1 73%, #d7dee4 77%, #d7dee6 84%, #d6dee1 89%, #cddae3 93%, #cad9e0 95%, #c5ced5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1d4d9), color-stop(2%, #cfd8dd), color-stop(7%, #cddae0), color-stop(11%, #ced7de), color-stop(14%, #d2d6e1), color-stop(16%, #cfd8dd), color-stop(43%, #cfd8dd), color-stop(73%, #d4dbe1), color-stop(77%, #d7dee4), color-stop(84%, #d7dee6), color-stop(89%, #d6dee1), color-stop(93%, #cddae3), color-stop(95%, #cad9e0), color-stop(100%, #c5ced5));
  background: -webkit-linear-gradient(top, #d1d4d9 0%, #cfd8dd 2%, #cddae0 7%, #ced7de 11%, #d2d6e1 14%, #cfd8dd 16%, #cfd8dd 43%, #d4dbe1 73%, #d7dee4 77%, #d7dee6 84%, #d6dee1 89%, #cddae3 93%, #cad9e0 95%, #c5ced5 100%);
  background: -o-linear-gradient(top, #d1d4d9 0%, #cfd8dd 2%, #cddae0 7%, #ced7de 11%, #d2d6e1 14%, #cfd8dd 16%, #cfd8dd 43%, #d4dbe1 73%, #d7dee4 77%, #d7dee6 84%, #d6dee1 89%, #cddae3 93%, #cad9e0 95%, #c5ced5 100%);
  background: -ms-linear-gradient(top, #d1d4d9 0%, #cfd8dd 2%, #cddae0 7%, #ced7de 11%, #d2d6e1 14%, #cfd8dd 16%, #cfd8dd 43%, #d4dbe1 73%, #d7dee4 77%, #d7dee6 84%, #d6dee1 89%, #cddae3 93%, #cad9e0 95%, #c5ced5 100%);
  background: linear-gradient(to bottom, #d1d4d9 0%, #cfd8dd 2%, #cddae0 7%, #ced7de 11%, #d2d6e1 14%, #cfd8dd 16%, #cfd8dd 43%, #d4dbe1 73%, #d7dee4 77%, #d7dee6 84%, #d6dee1 89%, #cddae3 93%, #cad9e0 95%, #c5ced5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d4d9', endColorstr='#c5ced5', GradientType=0);
  padding: 0px !important;
font-family: 'Open Sans', sans-serif;
}
.panel-default .panel-heading .panel-title,
.panel-primary .panel-heading .panel-title,
.panel-success .panel-heading .panel-title,
.panel-info .panel-heading .panel-title,
.panel-warning .panel-heading .panel-title,
.panel-danger .panel-heading .panel-title,
.panel-gray .panel-heading .panel-title {
  padding: 12.5px 15px;
  color: #666666;
}
.panel-default .panel-heading a,
.panel-primary .panel-heading a,
.panel-success .panel-heading a,
.panel-info .panel-heading a,
.panel-warning .panel-heading a,
.panel-danger .panel-heading a,
.panel-gray .panel-heading a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 94%;
  padding-bottom: 2px;
}
.panel-default .panel-heading i.fa,
.panel-primary .panel-heading i.fa,
.panel-success .panel-heading i.fa,
.panel-info .panel-heading i.fa,
.panel-warning .panel-heading i.fa,
.panel-danger .panel-heading i.fa,
.panel-gray .panel-heading i.fa {
  font-size: 21px;
  margin-top: 0px !important;
  color: #333333;
  padding: 0px 5px;
  cursor: default;
  margin-top: 7px !important;
}
.panel-default .panel-heading button,
.panel-primary .panel-heading button,
.panel-success .panel-heading button,
.panel-info .panel-heading button,
.panel-warning .panel-heading button,
.panel-danger .panel-heading button,
.panel-gray .panel-heading button {
  background-color: transparent !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
  filter: none !important;
  cursor: pointer;
}
.panel-default .panel-heading button:active i.fa:hover,
.panel-primary .panel-heading button:active i.fa:hover,
.panel-success .panel-heading button:active i.fa:hover,
.panel-info .panel-heading button:active i.fa:hover,
.panel-warning .panel-heading button:active i.fa:hover,
.panel-danger .panel-heading button:active i.fa:hover,
.panel-gray .panel-heading button:active i.fa:hover,
.panel-default .panel-heading button:focus i.fa:hover,
.panel-primary .panel-heading button:focus i.fa:hover,
.panel-success .panel-heading button:focus i.fa:hover,
.panel-info .panel-heading button:focus i.fa:hover,
.panel-warning .panel-heading button:focus i.fa:hover,
.panel-danger .panel-heading button:focus i.fa:hover,
.panel-gray .panel-heading button:focus i.fa:hover {
  color: #7894a5 !important;
  cursor: pointer;
}
.panel-default .panel-heading button i.fa,
.panel-primary .panel-heading button i.fa,
.panel-success .panel-heading button i.fa,
.panel-info .panel-heading button i.fa,
.panel-warning .panel-heading button i.fa,
.panel-danger .panel-heading button i.fa,
.panel-gray .panel-heading button i.fa {
  padding: 0px;
  color: #7894a5;
  cursor: pointer;
}
.panel-default .panel-heading button i.fa:hover,
.panel-primary .panel-heading button i.fa:hover,
.panel-success .panel-heading button i.fa:hover,
.panel-info .panel-heading button i.fa:hover,
.panel-warning .panel-heading button i.fa:hover,
.panel-danger .panel-heading button i.fa:hover,
.panel-gray .panel-heading button i.fa:hover {
  color: #ffffff !important;
  cursor: pointer;
}
.panel-default .panel-heading button:active,
.panel-primary .panel-heading button:active,
.panel-success .panel-heading button:active,
.panel-info .panel-heading button:active,
.panel-warning .panel-heading button:active,
.panel-danger .panel-heading button:active,
.panel-gray .panel-heading button:active,
.panel-default .panel-heading button:focus,
.panel-primary .panel-heading button:focus,
.panel-success .panel-heading button:focus,
.panel-info .panel-heading button:focus,
.panel-warning .panel-heading button:focus,
.panel-danger .panel-heading button:focus,
.panel-gray .panel-heading button:focus {
  background-color: #ffffff !important;
  border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  display: block;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-default .panel-heading button:active i.fa,
.panel-primary .panel-heading button:active i.fa,
.panel-success .panel-heading button:active i.fa,
.panel-info .panel-heading button:active i.fa,
.panel-warning .panel-heading button:active i.fa,
.panel-danger .panel-heading button:active i.fa,
.panel-gray .panel-heading button:active i.fa,
.panel-default .panel-heading button:focus i.fa,
.panel-primary .panel-heading button:focus i.fa,
.panel-success .panel-heading button:focus i.fa,
.panel-info .panel-heading button:focus i.fa,
.panel-warning .panel-heading button:focus i.fa,
.panel-danger .panel-heading button:focus i.fa,
.panel-gray .panel-heading button:focus i.fa {
  margin-top: 10px;
}
.panel-default .panel-heading .nav.nav-tabs,
.panel-primary .panel-heading .nav.nav-tabs,
.panel-success .panel-heading .nav.nav-tabs,
.panel-info .panel-heading .nav.nav-tabs,
.panel-warning .panel-heading .nav.nav-tabs,
.panel-danger .panel-heading .nav.nav-tabs,
.panel-gray .panel-heading .nav.nav-tabs {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}
.panel-default .panel-heading .dropdown-menu li a:hover,
.panel-primary .panel-heading .dropdown-menu li a:hover,
.panel-success .panel-heading .dropdown-menu li a:hover,
.panel-info .panel-heading .dropdown-menu li a:hover,
.panel-warning .panel-heading .dropdown-menu li a:hover,
.panel-danger .panel-heading .dropdown-menu li a:hover,
.panel-gray .panel-heading .dropdown-menu li a:hover,
.panel-default .panel-heading .dropdown-menu li a:focus,
.panel-primary .panel-heading .dropdown-menu li a:focus,
.panel-success .panel-heading .dropdown-menu li a:focus,
.panel-info .panel-heading .dropdown-menu li a:focus,
.panel-warning .panel-heading .dropdown-menu li a:focus,
.panel-danger .panel-heading .dropdown-menu li a:focus,
.panel-gray .panel-heading .dropdown-menu li a:focus {
  border-left: 2px solid #0079bd !important;
  padding-left: 18px;
  width: 100%;
}
.panel-default .panel-body,
.panel-primary .panel-body,
.panel-success .panel-body,
.panel-info .panel-body,
.panel-warning .panel-body,
.panel-danger .panel-body,
.panel-gray .panel-body,
.panel-primary .panel-body {
  background-color: #ffffff;
  border: 1px solid #ced8de;
  padding: 25px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-size: 26px;
}
.panel-default .panel-body nav.navbar.navbar-default,
.panel-primary .panel-body nav.navbar.navbar-default,
.panel-success .panel-body nav.navbar.navbar-default,
.panel-info .panel-body nav.navbar.navbar-default,
.panel-warning .panel-body nav.navbar.navbar-default,
.panel-danger .panel-body nav.navbar.navbar-default,
.panel-gray .panel-body nav.navbar.navbar-default {
  margin-top: -25px;
  margin-left: -25px;
  margin-right: -25px;
  background-color: #ffffff;
  box-shadow: none;
  color: #bababa;
  border-bottom: 1px solid #e7ecef !important;
  margin-bottom: 25px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-size: 13.5px;
}
.panel-default .panel-body nav.navbar.navbar-default .navbar-collapse,
.panel-primary .panel-body nav.navbar.navbar-default .navbar-collapse,
.panel-success .panel-body nav.navbar.navbar-default .navbar-collapse,
.panel-info .panel-body nav.navbar.navbar-default .navbar-collapse,
.panel-warning .panel-body nav.navbar.navbar-default .navbar-collapse,
.panel-danger .panel-body nav.navbar.navbar-default .navbar-collapse,
.panel-gray .panel-body nav.navbar.navbar-default .navbar-collapse {
  margin-left: -15px;
  margin-right: -15px;
}
.panel-default .panel-body nav.navbar.navbar-default .nav.navbar-nav,
.panel-primary .panel-body nav.navbar.navbar-default .nav.navbar-nav,
.panel-success .panel-body nav.navbar.navbar-default .nav.navbar-nav,
.panel-info .panel-body nav.navbar.navbar-default .nav.navbar-nav,
.panel-warning .panel-body nav.navbar.navbar-default .nav.navbar-nav,
.panel-danger .panel-body nav.navbar.navbar-default .nav.navbar-nav,
.panel-gray .panel-body nav.navbar.navbar-default .nav.navbar-nav {
  background-color: inherit;
  margin-top: -4px !important;
}
.panel-default .panel-body nav.navbar.navbar-default .nav.navbar-nav li,
.panel-primary .panel-body nav.navbar.navbar-default .nav.navbar-nav li,
.panel-success .panel-body nav.navbar.navbar-default .nav.navbar-nav li,
.panel-info .panel-body nav.navbar.navbar-default .nav.navbar-nav li,
.panel-warning .panel-body nav.navbar.navbar-default .nav.navbar-nav li,
.panel-danger .panel-body nav.navbar.navbar-default .nav.navbar-nav li,
.panel-gray .panel-body nav.navbar.navbar-default .nav.navbar-nav li {
  padding-left: 15px;
  padding-right: 15px;
}
.panel-default .panel-body nav.navbar.navbar-default .nav.navbar-nav li a,
.panel-primary .panel-body nav.navbar.navbar-default .nav.navbar-nav li a,
.panel-success .panel-body nav.navbar.navbar-default .nav.navbar-nav li a,
.panel-info .panel-body nav.navbar.navbar-default .nav.navbar-nav li a,
.panel-warning .panel-body nav.navbar.navbar-default .nav.navbar-nav li a,
.panel-danger .panel-body nav.navbar.navbar-default .nav.navbar-nav li a,
.panel-gray .panel-body nav.navbar.navbar-default .nav.navbar-nav li a {
  color: #666666;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 4px;
}
.panel-default .panel-body nav.navbar.navbar-default .nav.navbar-nav li a:hover,
.panel-primary .panel-body nav.navbar.navbar-default .nav.navbar-nav li a:hover,
.panel-success .panel-body nav.navbar.navbar-default .nav.navbar-nav li a:hover,
.panel-info .panel-body nav.navbar.navbar-default .nav.navbar-nav li a:hover,
.panel-warning .panel-body nav.navbar.navbar-default .nav.navbar-nav li a:hover,
.panel-danger .panel-body nav.navbar.navbar-default .nav.navbar-nav li a:hover,
.panel-gray .panel-body nav.navbar.navbar-default .nav.navbar-nav li a:hover {
  color: #0079bd;
  -webkit-text-shadow: 0px, 0px, 3px, 0px, #005a8f;
  -moz-text-shadow: 0px, 0px, 3px, 0px, #005a8f;
  -o-text-shadow: 0px, 0px, 3px, 0px, #005a8f;
  text-shadow: 0px, 0px, 3px, 0px, #005a8f;
  border-bottom: 2px solid #0079bd;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 4px;
}
.panel-default .panel-body .navbar-default,
.panel-primary .panel-body .navbar-default,
.panel-success .panel-body .navbar-default,
.panel-info .panel-body .navbar-default,
.panel-warning .panel-body .navbar-default,
.panel-danger .panel-body .navbar-default,
.panel-gray .panel-body .navbar-default {
  border-color: transparent !important;
}
.panel-default .panel-body .navbar-default .navbar-nav > .active > a,
.panel-primary .panel-body .navbar-default .navbar-nav > .active > a,
.panel-success .panel-body .navbar-default .navbar-nav > .active > a,
.panel-info .panel-body .navbar-default .navbar-nav > .active > a,
.panel-warning .panel-body .navbar-default .navbar-nav > .active > a,
.panel-danger .panel-body .navbar-default .navbar-nav > .active > a,
.panel-gray .panel-body .navbar-default .navbar-nav > .active > a {
  color: #0079bd !important;
  border-bottom: 5px solid #0079bd !important;
}
.panel-default .panel-body .navbar-default .navbar-nav > .active > a:hover,
.panel-primary .panel-body .navbar-default .navbar-nav > .active > a:hover,
.panel-success .panel-body .navbar-default .navbar-nav > .active > a:hover,
.panel-info .panel-body .navbar-default .navbar-nav > .active > a:hover,
.panel-warning .panel-body .navbar-default .navbar-nav > .active > a:hover,
.panel-danger .panel-body .navbar-default .navbar-nav > .active > a:hover,
.panel-gray .panel-body .navbar-default .navbar-nav > .active > a:hover {
  cursor: default;
}
.panel-default .panel-footer,
.panel-primary .panel-footer,
.panel-success .panel-footer,
.panel-info .panel-footer,
.panel-warning .panel-footer,
.panel-danger .panel-footer,
.panel-gray .panel-footer {
  border: 1px solid #ced8de;
  border-top: none !important;
  padding: 12.5px 15px;
  background-color: #e7ecef;
  color: #7894a5 !important;
}
.panel-clear {
  background-color: transparent;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}
.panel[class*="panel-"] .panel-body {
  background-color: #ffffff;
  border: 1px solid #ced8de;
  padding: 25px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-size: 16px;
}*/
.sortable-list {
  overflow-y: scroll;
}
.sortable-list li.sortable {
  list-style-type: none;
  padding: 6px 8px;
  margin: 0;
  color: #666;
  font-size: 1.2em;
  border-bottom: solid 1px #f0f1f2;
  cursor: pointer;
}
.sortable-list li.sortable:last-child {
  border-bottom: 0;
}
.sortable-list li.sortable:hover {
  background-color: #dceffd;
}
.sortable-list li.sortable.selected {
  background-color: #ffeabd;
}
.sortable-list li.sortable .sortable-item {
  display: block;
  color: #666;
}
.sortable-list li.placeholder {
  background-color: #dceffd;
  color: #52aef7;
  text-align: right;
}
li.sortable-list-item-hint {
  list-style-type: none;
  padding: 6px 8px;
  margin: 0;
  font-size: 1.2em;
  cursor: pointer;
  display: block;
  background-color: #52aef7;
  color: #fff;
}
li.sortable-list-item-hint:last-child {
  border-bottom: 0;
}
li.sortable-list-item-hint .sortable-item {
  display: block;
  color: #fff;
}
li.sortable-list-item-hint .action-icons {
  visibility: hidden;
  display: none;
}
/*
|--------------------------------
| BD Navigation
|--------------------------------
*/
.main-container {
  padding-top: 38px !important;
}
.main-container.navLevel1Padding {
  padding-top: 68px !important;
}
.main-container.navLevel2Padding {
  padding-top: 93px !important;
}
.main-container.navLevel1Padding.sysNoteShowed {
  padding-top: 106px !important;
}
.main-container.navLevel2Padding.sysNoteShowed {
  padding-top: 131px !important;
}
.navbar {
  height: 38px;
  min-height: 38px;
  font-family: "open-sans-light", "Source Sans Pro", "Segoe UI", sans-serif;
  font-size: 13px;
  font-weight: normal;
  border: none;
  border-radius: 0;
  background-color: #0077c0;
  background-image: url("../img/logo-bkg.png");
  background-repeat: no-repeat;
  min-width: 1035px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar.sysNoteShowed {
  margin-top: 38px;
}
.navbar.navbar-static-top {
  z-index: 2001;
}
.navbar div,
.navbar span,
.navbar ul,
.navbar li,
.navbar a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  -moz-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}
.navbar .navbar-header {
  float: left;
  position: absolute;
}
.navbar .navbar-header .navbar-brand {
  height: 38px;
  padding: 0 16px;
  overflow: hidden;
  color: #fff;
}
.navbar .navbar-header .navbar-brand img {
  border: none;
  padding: 0;
  margin: 0;
}
.navbar ul {
  font-size: 13px !important;
}
.navbar ul li a {
  background-color: transparent !important;
}
.navbar ul.navbar-nav > li > a > .dropdown-caret {
  border-bottom: 2px solid #414153;
}
.navbar ul.navbar-nav > li > a > .dropdown-caret .fa-square {
  color: #414153;
}
.navbar ul.navbar-nav > li > a > .dropdown-caret .dropdown-separator {
  border-left: 1px solid #ffffff;
}
.navbar ul.navbar-nav > li > a .dropdown-caret:focus,
.navbar ul.navbar-nav > li > a .dropdown-caret:hover {
  border-bottom: 2px solid #ffffff;
}
.navbar ul.navbar-nav > li.open > a .dropdown-caret {
  border-bottom: 2px solid #ffffff;
}
.navbar ul.navbar-nav > li.open > a .dropdown-caret .fa-caret-down {
  color: #414153;
}
.navbar ul.navbar-nav > li.open > a .dropdown-caret .fa-square {
  color: #ffffff;
}
.navbar ul.navbar-nav > li.open > a .dropdown-caret .dropdown-separator {
  border-left: 1px solid #414153;
}
.navbar ul.navbar-nav > li.active > a .dropdown-caret {
  border-bottom: 4px solid #ffffff;
}
.navbar ul.navbar-nav > li.active > a .dropdown-caret .fa-caret-down {
  color: #ffffff;
}
.navbar ul.navbar-nav > li.active > a .dropdown-caret .fa-square {
  color: #414153;
}
.navbar ul.navbar-nav > li.active > a .dropdown-caret .dropdown-separator {
  border-left: 1px solid #ffffff;
}
.navbar ul.navbar-nav > li > ul > li > a > .dropdown-caret {
  border-bottom: 2px solid #ffffff;
}
.navbar ul.navbar-nav > li > ul > li > a > .dropdown-caret .fa-square {
  color: #ffffff;
}
.navbar ul.navbar-nav > li > ul > li > a > .dropdown-caret .dropdown-separator {
  border-left: 1px solid #000000;
}
.navbar ul.navbar-nav > li > ul > li > a .dropdown-caret:focus,
.navbar ul.navbar-nav > li > ul > li > a .dropdown-caret:hover {
  border-bottom: 2px solid #000000;
}
.navbar ul.navbar-nav > li > ul > li.open > a .dropdown-caret {
  border-bottom: 2px solid #000000;
}
.navbar ul.navbar-nav > li > ul > li.open > a .dropdown-caret .fa-caret-down {
  color: #ffffff;
}
.navbar ul.navbar-nav > li > ul > li.open > a .dropdown-caret .fa-square {
  color: #000000;
}
.navbar ul.navbar-nav > li > ul > li.open > a .dropdown-caret .dropdown-separator {
  border-left: 1px solid #ffffff;
}
.navbar ul.navbar-nav > li > ul > li.active > a .dropdown-caret {
  border-bottom: 2px solid #0077c0;
}
.navbar ul.navbar-nav > li > ul > li.active > a .dropdown-caret .fa-caret-down {
  color: #0077c0;
}
.navbar ul.navbar-nav > li > ul > li.active > a .dropdown-caret .fa-square {
  color: #ffffff;
}
.navbar ul.navbar-nav > li > ul > li.active > a .dropdown-caret .dropdown-separator {
  border-left: 1px solid #0077c0;
}
.navbar .dropdown > .dropdown-menu {
  background-color: #ffffff !important;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 2001 !important;
}
.navbar .dropdown > .dropdown-menu > li > a {
  color: #72727e !important;
  padding: 6px 20px;
  line-height: 13px;
}
.navbar .dropdown > .dropdown-menu > li > a:focus,
.navbar .dropdown > .dropdown-menu > li > a:hover {
  background-color: #f5f5f5 !important;
  color: #0077c0 !important;
  border-left: 3px solid #0077c0;
  padding-left: 17px;
}
.navbar .dropdown > .dropdown-menu > li.active > a {
  background-color: #ffffff !important;
  color: #72727e !important;
  border-left: 3px solid #72727e;
  padding-left: 17px;
}
.navbar .dropdown > .dropdown-menu .dropdown-menu-help {
  min-width: 330px;
  margin-left: 0px;
  margin-right: 0px;
}
.navbar .dropdown > .dropdown-menu .dropdown-menu-help img {
  width: 70px;
  height: 70px;
  margin: 5px;
  margin-left: 15px;
}
.navbar .dropdown > .dropdown-menu .dropdown-menu-help .row {
  margin-right: 0px;
}
.navbar .dropdown > .dropdown-menu .dropdown-menu-help .divider {
  margin-top: 0px;
  margin-left: 8px;
  margin-right: 8px;
}
.navbar .dropdown > .dropdown-menu .dropdown-menu-help .help-title {
  padding-left: 15px;
  color: #72727e;
  font-size: 13px;
  font-weight: bold;
}
.navbar .dropdown > .dropdown-menu .dropdown-menu-help .primary-help-title {
  font-size: 14px;
  padding-top: 10px;
}
.navbar .dropdown > .dropdown-menu .dropdown-menu-help .phone-number {
  font-size: 12px;
  display: inline-block;
  padding-right: 7px;
}
.navbar .dropdown > .dropdown-menu .dropdown-menu-help .fa-envelope {
  color: #0077c0;
}
.navbar .dropdown > .dropdown-menu .dropdown-menu-help .fa-phone {
  color: #72727e;
  padding-right: 5px;
}
.navbar .dropdown > .dropdown-menu .dropdown-menu-help .primary-contact-panel {
  padding-top: 10px;
}
.navbar .dropdown > .dropdown-menu .dropdown-menu-help .contact-panel {
  padding-right: 15px;
}
.navbar .dropdown > .dropdown-menu .dropdown-menu-help > li {
  white-space: nowrap;
  margin-bottom: 5px;
  color: #0079bd;
}
.navbar .dropdown > .dropdown-menu .dropdown-menu-help > li.active .navbar .dropdown > .dropdown-menu .dropdown-menu-help > li:focus,
.navbar .dropdown > .dropdown-menu .dropdown-menu-help > li:hover > a {
  text-decoration: underline;
}
.navbar .navbar-collapse {
  border: none;
  margin-right: 16px;
  padding-right: 0;
}
.navbar ul.navbar-main {
  position: absolute;
  border: none;
  border-radius: 0;
  background-color: #414153;
  left: 0 !important;
  right: 0 !important;
  width: auto !important;
  height: 30px;
  min-height: 30px;
  padding: 0;
  -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.176);
  -o-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.176);
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.176);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.176);
  margin: 38px 0 8px 0;
}
.navbar ul.navbar-main > li {
  display: inline-block;
}
.navbar ul.navbar-main > li > a {
  font-family: "open-sans-light", "Source Sans Pro", "Segoe UI", sans-serif !important;
  font-size: 13px !important;
  color: #c6c6cb !important;
  padding: 0;
  margin: -1px 16px 1px 14px;
  height: 30px;
  line-height: 30px;
}
.navbar ul.navbar-main > li > a:focus,
.navbar ul.navbar-main > li > a:hover {
  color: #ffffff !important;
  border-bottom: 2px solid #ffffff;
}
.navbar ul.navbar-main > li a > .dropdown-caret {
  overflow: hidden;
  position: absolute;
  width: 25px;
  height: 30px;
  padding-left: 5px;
}
.navbar ul.navbar-main > li a > .dropdown-caret > span.fa-stack {
  position: absolute;
  width: 20px;
  height: 30px;
  line-height: 30px;
}
.navbar ul.navbar-main > li a > .dropdown-caret > .dropdown-separator {
  font-size: 11px;
}
.navbar ul.navbar-main > li.open > a {
  color: #ffffff !important;
  border-bottom: 2px solid #ffffff;
}
.navbar ul.navbar-main > li.active > a {
  color: #ffffff !important;
  border-bottom: 4px solid #ffffff;
}
.navbar ul.navbar-main li.sub-nav {
  position: static !important;
}
.navbar ul.navbar-main li.sub-nav > ul {
  border: none;
  border-radius: 0;
  background-color: #ffffff;
  left: 0 !important;
  right: 0 !important;
  width: auto !important;
  height: 25px;
  min-height: 25px;
  padding: 0;
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  -o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.navbar ul.navbar-main li.sub-nav > ul > li {
  display: inline-block;
}
.navbar ul.navbar-main li.sub-nav > ul > li > a {
  font-family: "open-sans-light", "Source Sans Pro", "Segoe UI", sans-serif !important;
  font-size: 13px !important;
  color: #72727e !important;
  padding: 0;
  margin: -1px 16px 1px 14px;
  height: 25px;
  line-height: 25px;
}
.navbar ul.navbar-main li.sub-nav > ul > li > a:focus,
.navbar ul.navbar-main li.sub-nav > ul > li > a:hover {
  color: #000000 !important;
  border-bottom: 2px solid #000000;
}
.navbar ul.navbar-main li.sub-nav > ul > li a > .dropdown-caret {
  overflow: hidden;
  position: absolute;
  width: 25px;
  height: 25px;
  padding-left: 5px;
}
.navbar ul.navbar-main li.sub-nav > ul > li a > .dropdown-caret > span.fa-stack {
  position: absolute;
  width: 20px;
  height: 25px;
  line-height: 25px;
}
.navbar ul.navbar-main li.sub-nav > ul > li a > .dropdown-caret > .dropdown-separator {
  font-size: 11px;
}
.navbar ul.navbar-main li.sub-nav > ul > li.open > a {
  color: #000000 !important;
  border-bottom: 2px solid #000000;
}
.navbar ul.navbar-main li.sub-nav > ul > li.active > a {
  color: #0077c0 !important;
  border-bottom: 2px solid #0077c0;
}
.navbar ul.navbar-main li > a.dropdown-toggle {
  margin-right: 41px !important;
}
.navbar ul.navbar-main .open .dropdown-menu {
  position: absolute;
}
.navbar ul.navbar-right {
  height: 38px;
  min-height: 38px;
  float: right !important;
  margin: 0 -16px 0 0;
}
.navbar ul.navbar-right > li {
  float: left;
}
.navbar ul.navbar-right > li > a {
  font-size: 14px !important;
  padding: 12px;
  line-height: 14px;
  height: 38px;
  color: #c7dbe7 !important;
}
.navbar ul.navbar-right > li > a:focus,
.navbar ul.navbar-right > li > a:hover {
  color: #ffffff !important;
}
.navbar ul.navbar-right.is-impersonated .fa-user {
  color: #f78e1e !important;
}
/* NEW ICON for SEARCH BDNAV LINK */
.new-search-highlight {
  padding-right: 10px;
  position: relative;
}
.new-search-highlight:before {
  content: '!';
  position: absolute;
  top: 0;
  right: 20px;
  font-family: 'Calibri', 'Source Sans Pro', 'Segoe UI', sans-serif !important;
  color: #538824;
  font-size: 14px;
}
.new-search-highlight:after {
  content: 'NEW';
  position: absolute;
  top: 4px;
  right: 0;
  font-family: 'Calibri', 'Source Sans Pro', 'Segoe UI', sans-serif !important;
  color: #538824;
  font-size: 10px;
}
/* end NEW ICON for SEARCH BDNAV LINK */
/* NEW ICON for SEARCH BDNAV LINK */
.beta-report-highlight {
  padding-right: 10px;
  position: relative;
}
.beta-report-highlight:before {
  content: '!';
  position: absolute;
  top: 0;
  right: 20px;
  font-family: 'Calibri', 'Source Sans Pro', 'Segoe UI', sans-serif !important;
  color: #538824;
  font-size: 14px;
}
.beta-report-highlight:after {
  content: 'BETA';
  position: absolute;
  top: 4px;
  right: 0;
  font-family: 'Calibri', 'Source Sans Pro', 'Segoe UI', sans-serif !important;
  color: #538824;
  font-size: 10px;
}
/* end NEW ICON for SEARCH BDNAV LINK */
.notification-bar {
  background-color: #dddddd;
  border-color: #414153;
  text-align: center;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  height: 38px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: 1035px;
}
.notification-bar a {
  display: inline-block;
  cursor: pointer;
  color: #555555;
}
.notification-bar a :hover {
  color: #3b3b3b;
}
.notification-bar .fa {
  padding: 10px;
  line-height: 18px;
}
.notification-bar .fa-exclamation-triangle {
  color: #ff8000;
}
.notification-bar p {
  white-space: nowrap;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 500;
  color: #555555;
  line-height: 2.3em;
  display: inline-block;
  vertical-align: top;
  max-width: 90%;
}
.notification-bar.system-reminder {
  background-color: #EA9B70 !important;
  color: #FDE9E0 !important;
}
.notification-bar.system-reminder .fa-exclamation-triangle,
.notification-bar.system-reminder p,
.notification-bar.system-reminder a {
  color: #FDE9E0 !important;
}

/*
|-------------------------
| IPREO-THEMED BUTTONS
|-------------------------
*/
.btn {
  outline: none !important;
  padding: 5px 10px !important;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 30px;
}
.btn-primary {
font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background: #0079bd;
  background: -moz-linear-gradient(50% 0% -90deg, #1e97d1 0%, #0079bd 100%);
  background: -webkit-linear-gradient(-90deg, #1e97d1 0%, #0079bd 100%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #1e97d1), color-stop(1, #0079bd));
  background: -o-linear-gradient(-90deg, #1e97d1 0%, #0079bd 100%);
  background: -ms-linear-gradient(-90deg, #1e97d1 0%, #0079bd 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E97D1', endColorstr='#0079bd' ,GradientType=0)";
  background: linear-gradient(180deg, #1e97d1 0%, #0079bd 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E97D1', endColorstr='#0079bd', GradientType=0);
  text-align: center;
  -moz-box-shadow: 0px 1px 0px 0px #ffffff, 0px -1px 0px 0px #d8d8d8;
  -webkit-box-shadow: 0px 1px 0px 0px #ffffff, 0px -1px 0px 0px #d8d8d8;
  box-shadow: 0px 1px 0px 0px #ffffff, 0px -1px 0px 0px #d8d8d8;
}
.btn-primary i {
  color: #ffffff;
}
.btn-primary:hover {
  background: #3fa1de;
  background: -moz-linear-gradient(50% 0% -90deg, #1e97d1 0%, #3fa1de 100%);
  background: -webkit-linear-gradient(-90deg, #1e97d1 0%, #3fa1de 100%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #1e97d1), color-stop(1, #3fa1de));
  background: -o-linear-gradient(-90deg, #1e97d1 0%, #3fa1de 100%);
  background: -ms-linear-gradient(-90deg, #1e97d1 0%, #3fa1de 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E97D1', endColorstr='#3FA1DE' ,GradientType=0)";
  background: linear-gradient(180deg, #1e97d1 0%, #3fa1de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E97D1', endColorstr='#3FA1DE', GradientType=0);
}
.btn-primary:active {
  background: #005A8F !important;
}
.btn-primary-action {
font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background: #f9f9f9;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWU5ZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9', GradientType=0);
  border: 1px solid #dddddd;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #0079BD;
  padding: 0px 3px 0px 3px;
  text-align: center;
  -moz-box-shadow: 0px 2px 0px 0px #FFFFFF, 0px 0px 5px 0px #E6E6E6;
  -webkit-box-shadow: 0px 2px 0px 0px #FFFFFF, 0px 0px 5px 0px #E6E6E6;
  box-shadow: 0px 2px 0px 0px #FFFFFF, 0px 0px 5px 0px #E6E6E6;
}
.btn-primary-action:hover {
  background: #f3f3f3;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0);
  color: #3fa1de;
}
.btn-primary-action:active {
  background-color: #E9E9E9 !important;
}
.btn-default {
font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background: #f9f9f9;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWU5ZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#E9E9E9', GradientType=0);
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #48485C;
  padding: 0px 3px 0px 3px;
  text-align: center;
  -moz-box-shadow: 0px 2px 0px 0px #ffffff, 0px 0px 5px 0px #e6e6e6;
  -webkit-box-shadow: 0px 2px 0px 0px #ffffff, 0px 0px 5px 0px #e6e6e6;
  box-shadow: 0px 2px 0px 0px #ffffff, 0px 0px 5px 0px #e6e6e6;
}
.btn-default:hover {
  background: #f3f3f3;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0);
  color: #3FA1DE;
  border: 1px solid #DDDDDD;
}
.btn-default:active {
  background-color: #E9E9E9 !important;
  color: #3FA1DE;
  background-image: none;
  border: 1px solid #c4c4c4;
}
.btn-danger {
font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background: #FA8275;
  background: -moz-linear-gradient(50% 100% 90deg, #f7321e 0%, #fa8275 100%);
  background: -webkit-linear-gradient(90deg, #f7321e 0%, #fa8275 100%);
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0, #f7321e), color-stop(1, #fa8275));
  background: -o-linear-gradient(90deg, #f7321e 0%, #fa8275 100%);
  background: -ms-linear-gradient(90deg, #f7321e 0%, #fa8275 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7321E', endColorstr='#FA8275' ,GradientType=0)";
  background: linear-gradient(0deg, #f7321e 0%, #fa8275 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FA8275', endColorstr='#F7321E', GradientType=0);
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  padding: 0px 3px 0px 3px;
  text-align: center;
  -moz-box-shadow: 0px 2px 0px 0px #ffffff, 0px 0px 5px 0px #e6e6e6;
  -webkit-box-shadow: 0px 2px 0px 0px #ffffff, 0px 0px 5px 0px #e6e6e6;
  box-shadow: 0px 2px 0px 0px #ffffff, 0px 0px 5px 0px #e6e6e6;
}
.btn-danger:hover {
  background: #F7321E;
  background: -moz-linear-gradient(50% 100% 90deg, #f7321e 0%, #b11806 100%);
  background: -webkit-linear-gradient(90deg, #f7321e 0%, #b11806 100%);
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0, #f7321e), color-stop(1, #b11806));
  background: -o-linear-gradient(90deg, #f7321e 0%, #b11806 100%);
  background: -ms-linear-gradient(90deg, #f7321e 0%, #b11806 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7321E', endColorstr='#B11806' ,GradientType=0)";
  background: linear-gradient(0deg, #f7321e 0%, #b11806 100%);
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B11806', endColorstr='#F7321E', GradientType=0);
}
.btn-danger:active {
  background-color: #B11806 !important;
  background-image: none;
}
.btn-group .btn.btn-default,
.btn-group .btn.btn-default:visited {
  box-shadow: none;
}
.btn-selected {
  background-color: #5D5D5D !important;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.4) !important;
  background-image: none !important;
  color: #ffffff !important;
  cursor: default !important;
  filter: none;
}
.draggable-panels {
  height: 400px;
  width: 800px;
}
.draggable-panels .area-items {
  background-color: white;
  border: 1px solid gray;
  padding: 0;
  margin: 0;
  height: 400px;
  overflow-y: auto;
}
.draggable-panels .buttons {
  padding-top: 240px;
}
.draggable-panels .buttons button {
  margin-bottom: 5px;
}


 /* loading option */
.animsition-loading,
.animsition-loading:after {
  width: 32px;
  height: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  border-radius: 50%;
  z-index: 100;
}

.animsition-loading {
  background-color: transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid #eee;
  transform: translateZ(0);
  animation-iteration-count:infinite;
  animation-timing-function: linear;
  animation-duration: .8s;
  animation-name: animsition-loading;
}

@keyframes animsition-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html, body {
    max-width: 100%;
    /*overflow-x: hidden;*/
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.navbar-form {
  margin-top: 0px;
}

.positive-stat {
 background-color:#e6f8dd;
 padding: 10px;
}

.clear-stat {
 background-color:transparent;
 padding: 10px;
}

.negative-stat {
 background-color:#fedbd8;
 padding: 10px;
}



.top-number {
 color: #444444;
 font-weight: 600;
 font-size: 15px;
}

.bottom-number {
 padding-left:12px;
 color:#939393;
}

.phone-num {
 padding-top: 100px;
}

.table-header {
background-color: rgba(255, 0, 0, 0.34);
vertical-align: top;
text-align: right !important;
}

.table>thead>tr>th {
 vertical-align: top;
 text-align: right !important;

}


.stat-padding {
padding-right:5px;
padding-left:5px;
}
.stat-padding-first {
padding-right:5px;
padding-left:15px;
}
.stat-padding-last {
padding-right:15px;
padding-left:5px;
}
