/* MAIN CSS CONTENT */

body {
  margin: 0;

  background: #f3f3f3;

  font-family: "Open Sans", Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}

h1 {
  line-height: 43px;
}

h2 {
  line-height: 35px;
}

h3 {
  line-height: 30px;
}

h4 {
  line-height: 22px;
}

h3 small,
h4 small,
h5 small {
  color: #444;

  font-family: 'Open Sans';
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #505458;

  font-family: 'Open Sans';
  font-weight: 300;
}

* {
  outline: none !important;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;

  outline: 0;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.label {
  padding: 0.3em 0.6em;
}

.container {
  width: auto;
}

.navbar {
  /*margin: 0 0 0 -15px;*/
}

.navbar-collapse {
  margin: 0;
  padding: 0;
}

.navbar-default {
  border: none;
  background-color: transparent;
}

.nav.navbar-nav.top-navbar .dropdown-menu > li {
  position: relative;
}

.nav.navbar-nav.top-navbar .dropdown-menu > li > a {
  cursor: pointer;

  color: #4C5264;
}

.nav.navbar-nav.top-navbar > li span.absolute {
  position: absolute;
  z-index: 4;
  top: 5px;
  left: 25px;

  padding: 4px;

  border-radius: 15px;

  font-size: 10px;
  font-weight: 400 ! important;
  line-height: 7px !important;
}

.table-noborder td {
  border: 0px !important;
}

.badge {
  vertical-align: bottom;
}

.btn-group.spaced .btn {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-group.open {
  z-index: 2 !important;
}

.bold {
  font-weight: 700 !important;
}

.semibold {
  font-weight: 600 !important;
}

.input-invis {
  border: none !important;
  background: none !important;
}

label {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
}

.no-left-padding {
  padding-left: 0px;
}

.no-right-padding {
  padding-right: 0px;
}

.nomargin {
  margin: 0px !important;
}

.no-rounded {
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}

.full-rounded {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
}

.stacked {
  margin: 0px;
}

.stacked > [class*="col-"] {
  margin: 0px !important;
  padding-right: 0px;
  padding-left: 0px;
}

.fake-btn {
  position: relative;

  display: inline-block;

  width: 150px;
  margin: 3px;
  padding: 5px 10px 5px 10px;

  vertical-align: middle;

  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;

  line-height: 20px;
}

.clear {
  clear: both;
}


/* MASTER PAGE */

#wrapper {
  position: relative;

  width: 100%;
  /*width: 1250px;*/
  height: 100%;

  background: #F9F9F9;
}

.page {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.rows,
.col,
.page {
  position: absolute;
}

.rows {
  right: 0;
  left: 0;
}

.topbar {
  position: fixed;
  z-index: 11;
  top: 0px;
  right: 0;
  left: 0px;

  height: 50px;

  background: #ffffff;
}

.topbar .topbar-left {
  position: relative;
  z-index: 1;

  float: left;

  width: 240px;
  height: 50px;

  background: #0079bd;
}

.logo h1 {
  height: 50px;
  margin: 0px auto;

  text-align: center;

  color: #fff;
}

.logo h1 img {
  height: 50%;
}

.topbar-profile .topbar-profile-image {
  position: relative;

  width: 35px;
  margin-top: -15px;
  margin-right: 5px;
  margin-bottom: -12px;

  border: 1px solid rgba(0, 0, 0, 0.2);
}

.topbar-profile > a {
  font-family: "Open Sans";
}

.navbar-right .iconify > a > i {
  color: #666;

  font-size: 18px;
  line-height: 17px;
}

.right-opener {
  border-left: 1px solid #f5f5f5;
}

.right-opener i {
  color: rgba(0, 0, 0, 0.6);
}

.right-opener .fa-angle-double-right {
  display: none;
}

.open-right-sidebar .right-opener .fa-angle-double-right {
  display: inline-block;
}

.open-right-sidebar .right-opener .fa-angle-double-left {
  display: none;
}

.col {
  top: 0;
  bottom: 0;
}

.scroll-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scroll-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.fill,
.pane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.content-page {
  position: relative;

  overflow: hidden;

  margin-left: 0px;
}

.content-page > .content {
  position: relative;

  margin-top: 20px;
  padding: 20px;
}


/* PAGE HEADING */

.page-heading {
  margin: 0px 0 20px;
  padding: 5px 0;
}

.page-heading h1 {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;

  font-size: 24px;
  font-weight: 400;
}

.page-heading h3 {
  margin-top: 0px;

  font-size: 15px;
}


/* WIDGETS */

.widget {
  position: relative;

  color: #5b5b5b;
  /*border: 1px solid #E2E2E2;*/
box-shadow: 1px 2px 10px rgba(65, 65, 82, 0.16);

  /*-webkit-border-radius: 3px;
  border-radius: 3px;*/
  background: #fff;
  /*height: 275px;*/
}

.widget-header,
.widget-content {
  display: block;
  clear: both;

  width: 100%;
}

.widget-header {
  border-bottom: 1px solid rgba(227, 227, 227, 0.6);
  /*-webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;*/
  /*background: rgba(0, 0, 0, 0.02);*/
}

.portlets {
  min-height: 50px;
  padding: 7px;
}

.portlets .widget-header {
  cursor: move;
}

.widget-footer {
  overflow: hidden;

  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}

.widget-header.transparent {
  border: none;
  background: transparent;
}

.widget-header.centered {
  text-align: center;
}

.widget-header .left-btn {
  position: absolute;
  top: 6px;
  left: 10px;
}

.widget-content {
  padding: 15px;

  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}

.widget-content2 {
  padding: 15px;

  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}

.widget-content.padding {
  padding: 15px;
}

.widget-content.padding-sm {
  padding: 10px;
}

.widget-content.padding-xs {
  padding: 1%;
}

.widget.maximized {
  position: fixed;
  z-index: 10;
  top: 50px;
  right: 0px;
  bottom: 0px;
  /*left: 240px;*/
  left: 0;

  margin: 0px;

  -webkit-border-radius: 0;
  border-radius: 0;
}

#wrapper.enlarged .widget.maximized {
  left: 50px;
}

#wrapper.open-right-sidebar .widget.maximized {
  right: 240px;
}

.widget.modal-widget {
  position: absolute;
  z-index: 10;

  display: block;

  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.widget.modal-widget.modalize .widget-header {
  background: #efefef;
}

.widget:before,
.widget:after {
  display: table;

  content: " ";
}

.widget:after {
  clear: both;
}

.widget .des-thumbnail {
  padding: 20px;
}

.widget .img-wrap {
  overflow: hidden;

  width: 100%;
  height: auto;
}

.widget .img-wrap img {
  width: 100%;
}

.widget .widget-header {
  display: block;

  height: 43px;
}

.widget .widget-header h2 {
  display: block;

  margin: 0px;
  padding: 4px 13px 4px 13px;
  color:#0079bd;
  font-size:15px;
  font-weight: 600;
}

.widget .widget-header h2 a{
  color:#0079bd;
  font-size:15px;
  font-weight: 600;
}
.widget .widget-header h2.no-style {
  margin: 20px 0px 10px 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px;

  border-bottom: none;

  font-size: 30px;
}




.widget .widget-header-tall {
  display: block;

  margin: 0px;
  padding: 10px 13px 0;
  color:#777777;
  font-size:13px;
  line-height: 22px;
  border-top: 1px solid #f2f2f2;

}

.widget .widget-header-tall h2 a{
  color:#777777;
  font-size:14px;
  font-weight: 600;
}
.widget .widget-header-tall h2.no-style {
  margin: 20px 0px 10px 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px;

  border-bottom: none;

  font-size: 30px;
}



.widget.box-messages {
  margin-top: -50px;
}

.widget.box-messages h2 {
  border-bottom: none;
}

.widget .statistic-chart {
  padding: 0 0 0px 0;
}

.widget .statistic-chart .toolbar {
  padding: 10px;
  padding-top: 0px;
}

.widget.full {
  padding: 0px;
}

.widget.full .box-footer {
  padding: 20px 20px 15px 20px;
}

.widget.full .box-footer a,
.widget.full .box-footer a:hover {
  text-decoration: none;

  color: #1B1E24;
}

.widget .nav-tabs > li > a {
  margin-right: 6px;

  color: #555;
  border: none;
  background: rgba(0, 0, 0, 0.04);

  font-family: "Open Sans";
  font-size: 13px;
  line-height: 1.428571429;
}

.widget .tab-content {
  padding-top: 10px;

  font-size: 13px;
}

.widget .tab-boxed {
  padding: 10px;

  border: 1px solid #ddd;
  border-top: 0px;
}

.widget .nav-tabs > li > a i {
  color: #555;
}

.widget .media-list {
  margin-top: 30px;
}

.widget .media-list a {
  color: #1B1E24;
}

.widget .media-list a:hover {
  text-decoration: none;

  color: #212121;
}

.widget .media-list .media {
  padding: 5px 20px;

  border-bottom: 1px solid #eaeaea;
}

.widget .media-list li:last-child.media {
  border-bottom: none;
}

.widget .media-list .media .media-heading a {
  margin-right: 5px;

  color: #1B1E24;

  font-size: 14px;
  font-weight: 600;
}

.widget .media-list .media .media-heading small {
  color: #65BD77;

  font-size: 11px;
}

.widget .media-list .media p {
  color: #909090;
}

.widget .media-list .media .media-object {
  width: 50px;
}

.widget .nav-tabs > li.active > a,
.widget .nav-tabs > li.active > a:hover,
.widget .nav-tabs > li.active > a:focus {
  cursor: default;

  color: #fff;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background-color: #7A868F;
}

.widget .nav-tabs > li.active > a i,
.widget .nav-tabs > li.active > a:hover i,
.widget .nav-tabs > li.active > a:focus i {
  color: #fff;
}

.widget .nav-tabs.nav-simple li a {
  background: none;
}

.widget .nav-tabs.nav-simple > li.active > a,
.widget .nav-tabs.nav-simple > li.active > a:hover,
.widget .nav-tabs.nav-simple > li.active > a:focus {
  color: #555;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  background: none;
}

.widget .nav-tabs.nav-simple > li.active > a i,
.widget .nav-tabs.nav-simple > li.active > a:hover i,
.widget .nav-tabs.nav-simple > li.active > a:focus i {
  color: #555;
}

.widget .additional-box {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 15px;
}

.widget .additional-btn {
  position: absolute;
  z-index: 2;
  right: 13px;
  /*top: 10px;*/
  bottom: 10px;
}

.widget .left-toolbar {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 13px;
}

.widget:hover .additional-btn > a.hidden {
  display: inline-block !important;
  visibility: visible !important;
}

.widget:hover .additional-btn > a.hidden.nevershow,
.widget:hover .additional-btn > a.nevershow,
.widget .additional-btn > a.nevershow {
  display: none !important;
}

.widget .widget-header:hover .additional-btn > a {
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;

  color: #909090;
}

.widget.modal-widget.modalize .widget-header .additional-btn > a {
  color: #909090;
}

.widget .btn-group {
  z-index: 1;
}

.widget table .btn-group {
  z-index: 1;
}

.widget .additional-btn .dropdown-menu {
  z-index: 2;
}

.widget .widget-close,
.widget .widget-toggle {
  font-size: 15px;
}

.widget .widget-close:hover {
  color: #EB5055 !important;
}

.widget .additional-btn > a,
.widget .widget-header .additional-btn .btn-group > a {
  margin-right: 0px;
  margin-left: 7px;

  cursor: pointer;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;

  color: #ccc;
}

.widget .additional-btn > a:hover {
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
  text-decoration: none;
}

.ui-sortable-placeholder {
  display: block;
  visibility: visible !important;

  min-height: 100%;

  background: #cdcdcd !important;
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.widget.ui-sortable-placeholder * {
  visibility: hidden;
}

.transparent {
  color: #fff;
  background: rgba(0, 0, 0, 0);
}

.white {
  color: #555;
  background: #ffffff;
}

.widget .additional .list-box-info {
  margin: 0 -15px;
}

.widget .additional .list-box-info ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.widget .additional .list-box-info ul li {
  padding: 15px 20px;

  color: #909090;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.widget .additional .list-box-info ul li span.label {
  float: right;

  font-size: 13px;
}

.widget .additional .list-box-info ul li:last-child {
  border-bottom: 1px solid #fff;
}

.left .widget {
  margin: 10px;
}

.left .widget-header h2 {
  padding: 4px;

  color: #fff;
}

.left .widget .additional-btn {
  right: 4px;
}

.widget.full h2 {
  margin: 5px 0px 20px 0px;
  padding: 15px;
}

.widget table {
  margin: 0;
}

.widget table tr th,
.widget table tr td {
  padding-right: 15px;
  padding-left: 15px;
}

.widget .widget-icon {
  position: absolute;
  top: 10px;
  right: 4%;

  color: #ffffff;

  font-size: 50px;
}

.widget .text-box h2 {
  display: block;

  margin: 0px 0;
  padding: 0;

  color: #fff;

  font-size: 32px;
  font-weight: 300;
}


.amcharts-chart-div a {
 display:none!important;
}


/* FOOTER */

footer {
  /*margin-top: 40px;*/
  padding: 20px 0;

  color: #7A868F;
  border-top: 1px solid #B9C1CB;

  font-size: 12px;
}

footer .footer-links a {
  padding: 1px 10px;

  color: #7A868F;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

footer .footer-links a:hover {
  color: #4A525F;
}

footer .footer-links a:last-child {
  border: none;
}


/*# sourceMappingURL=style.css.map */

.close {
  margin-top: 0 !important;
}

.bank-icon {
padding: 13px 0 5px 5px;
color: #0079bd;
font-size: 18px;
font-weight: 300;
vertical-align: top;

}

.dropdown-menu.pull-right {
  right: 35px !important;
  left: auto;
}

.main-card {
  min-height: 50px;

  background-color: #fff;
}

.main-card .head {
  padding: 10px 10px 10px 10px;

  color: #0079bd;

  font-size: 28px;
  font-weight: 300;
}

.head {
padding: 0px 10px 10px 10px;
color: #454545;
font-size: 30px;
font-weight: 400;
}

.main-card .subhead {
  padding: 10px 0 0 50px;

  color: #999;

  font-size: 14px;
  font-weight: 400;
}

.dropdown-menu.pull-right {
  top: 35px;
  right: 15px !important;
  left: auto;
}

.corner:hover {
  display: block !important;
  visibility: visible !important;
}

.font-11 {
 font-size: 11px;
}

.overview-margin {}

#appBody {
  margin-top: 205px !important;
}

#appBodyTall {
  margin-top: 205px !important;
}

#appBody2{
margin-top: 150px !important;
}

#appBody.Level1Padding {
  margin-top: 75px !important;
}


.page-head {
  padding: 15px 10px 0;
margin-top: 60px;
background-color: #fff;
box-shadow: 1px 2px 10px rgba(65, 65, 82, 0.16);
}

.subhead {
  padding: 5px 5px 20px;
  color: #999;
}

.card-content{
  padding: 15px 20px 10px 20px;
  }

  .dropdown-menu {
   border: none;
   box-shadow: 1px 2px 10px rgba(65, 65, 82, 0.16);
   padding: 15px 5px;
  }
.unslider {
 padding-bottom: 10px !important;
}


div.tooltipster-base.tooltipster-shadow.tooltipster-grow.tooltipster-grow-show {
 top:385px!important;
}



#background{
  color:#2c3e50;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 50px;
  display: inline-block;
  margin-top:120px;


}

#pagewrap{
  height:100%;
  width:100%;
  overflow:hidden;
  /*position: fixed;*/
  z-index: 99;
}

#button{
  height:20px;
  width:20px;
  border-radius:50%;
  background-color:#3498db;
  text-align:center;
  display: table;
  transform: rotate(+=405deg);
  transition: transform 1s;
}

.button-active{
  transform: rotate(405deg);
  transition: transform 0.5s;
  background-color: #c0392b !important;
}

#button:hover{
  cursor:pointer;
}

#x{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

#buttonwrap{
  margin:auto;
  /*width:80px;*/
  margin-top:-40px;
}

#content{
  /*height:100%;
  width:100%;
  background-color: #2ecc71;*/
  position:absolute;
  top:100%;
  margin-top:30px;
  -webkit-transition: top 1s ease; /* For Safari 3.1 to 6.0 */
   transition: transform 1s ease;
}

.content-active{
 ms-transform:translate3d(0, calc(-100vh + 175px), 0);
 -webkit-transform: translate3d(0, calc(-100vh + 175px), 0);
  transform: translate3d(0, calc(-100vh + 175px), 0);
}

#text{
  /*color:#27ae60;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 50px;
  display: inline-block;
  margin-top:120px;*/
}


button.btn.btn-default.btn-a.active {
  color: #0079bd;
}
