<div class="page-header">
  <nav id="navbar-example" class="navbar navbar-default navbar-static">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> <a class="navbar-brand" href="#">Dashboard</a> </div>
      <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
              <div>
      <a class="pull-right btn btn-primary" style="margin:10px;" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Card</a>
      <a class="pull-right btn btn-warning" style="margin:10px;" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i> Clear</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li id="fat-menu" class="dropdown"> <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Dashboard <span class="caret"></span> </a>
            <ul class="dropdown-menu" aria-labelledby="drop3" style="width:200px;" ng-click="$event.stopPropagation()">
              <h3 style="padding-left:20px;">Visable Cards</h3>
              <li style="padding-left:20px;"><input type="checkbox" ng-click="removeWidget()" checked/> Overview</a></li>
              <li style="padding-left:20px;"><input type="checkbox" ng-click="removeWidget()" checked/> Ownership</a></li>
              <li style="padding-left:20px;"><input type="checkbox" ng-click="removeWidget()" checked/> CRM Details</a></li>
              <li style="padding-left:20px;"><input type="checkbox" ng-click="removeWidget()" checked/> Portfolio</a></li>
              <li style="padding-left:20px;"><input type="checkbox" ng-click="removeWidget()" checked/> Lists</a></li>
              <li style="padding-left:20px;"><input type="checkbox" ng-click="removeWidget()" checked/> Targeting</a></li>
              <li role="separator" class="divider"></li>
              <select class="form-control" ng-click="$event.stopPropagation()" style="width: 150px; margin: 10px; display:inline-block;" ng-change="changeDashboard()" ng-model="selectedDashboardId" ng-options="d.id as d.name for d in dashboards | object2Array | orderBy:'id'">
              </select>
            </ul>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<div gridster="gridsterOptions">
  <ul>
    <li gridster-item="widget" ng-repeat="widget in dashboard.widgets track by $index">
      <div class="box" ng-controller="CustomWidgetCtrl">
        <div class="box-header">
          <h3>{{ widget.name }}</h3>
          <div class="box-header-btns pull-right">
            <a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
            <a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
          </div>
        </div>
        <div class="box-content">
          <p>
            Content
          </p>
          <iframe src="{{ widget.iFrameUrl | sanitizeUrl }}"></iframe>
        </div>

      </div>
    </li>
  </ul>

</div>
